*{
   font-family: 'Rubik', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
   transition:all .2s linear;
}
html{
   font-size: 62.5%;
   overflow-x: hidden;
}

body{
   background-image: url(images/adminbg.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   position: relative;
}

section{
   padding:3rem 2rem;
}

.title{
   text-align: center;
   text-transform: uppercase;
   color:rgb(255, 255, 255);
   font-size: 40px;
   background-size: cover;
   margin-top: 20px;
   margin-bottom:60px;
}

.empty{
   padding:1.5rem;
   text-align: center;
   border:var(--border);
   background-color: blue;
   color:white;
   font-size: 2rem;
}

.message{
   position: sticky;
   top:0;
   margin:0 auto;
   max-width: 1200px;
   background-color: var(--light-bg);
   padding:2rem;
   display: flex;
   align-items: center;
   justify-content: space-between;
   z-index: 10000;
   gap:1.5rem;
}

.message span{
   font-size: 2rem;
   color:var(--black);
}

.message i{
   cursor: pointer;
   color:var(--red);
   font-size: 2.5rem;
}

.message i:hover{
   transform: rotate(90deg);
}

.btn,
.option-btn,
.delete-btn,
.white-btn{
   display: inline-block;
   margin-top: 1rem;
   padding:1rem 3rem;
   cursor: pointer;
   color:green;
   font-size: 1.8rem;
   border-radius: .5rem;
   text-transform: capitalize;
}

.btn{
   margin: 20px;
   margin-bottom: 5px;
   margin-top: 30px;
   background-color: blue;
   color: white;
}
.btn:hover{
   background-color: rgb(0, 0, 0);
   color: rgb(255, 255, 255);
}

.option-btn{
   background-color: rgb(78, 47, 255);
   color: rgb(255, 255, 255);
}

.delete-btn{
   background-color: rgb(253, 152, 0);
   color: rgb(255, 255, 255);
}

#menu-btn{
   display: none;
}


.add-products form{
   border-radius: 20px;
   padding:20px;
   text-align: center;
   border:2px solid rgb(0, 0, 0);
   max-width: 500px;
   margin:0 auto;
   background-color: rgb(253, 253, 156);
}

.add-products form h3{
   font-size: 25px;
   text-transform: uppercase;
   color:rgb(0, 0, 0);
   margin-bottom: 20px;
   margin: 20px;
}
.add-products form .box{
   width: 100%;
   background-color: rgb(255, 255, 255);
   color:rgb(0, 0, 0);
   border-radius: 50px;
   margin:1rem 0;
   padding:1.2rem 1.4rem;
   font-size: 1.8rem;
}
.show-products .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, 30rem);
   justify-content: center;
   gap:1.5rem;
   max-width: 1200px;
   margin:0 auto;
   align-items: flex-start;
}

.show-products{
   padding-top: 0;
}

.show-products .box-container .box{
   text-align: center;
   padding:2rem;
   border-radius: .5rem;
   border:2px solid rgb(0, 0, 0);
   box-shadow: var(--box-shadow);
   background-color: rgb(255, 239, 145);
   color: white;
}

.show-products .box-container .box img{
   height: 30rem;
}

.show-products .box-container .box .name{
   padding:1rem 0;
   font-size: 2rem;
   color:black;
   text-transform: capitalize ;
}

.show-products .box-container .box .price{
   padding:1rem 0;
   font-size: 2.5rem;
   color:green;
}

.edit-product-form{
   min-height: 100vh;
   background-color: rgba(0,0,0,.7);
   display: flex;
   align-items: center;
   justify-content: center;
   padding:2rem;
   overflow-y: scroll;
   position: fixed;
   top:0; left:0; 
   z-index: 1200;
   width: 100%;
}

.edit-product-form form{
   width: 50rem;
   padding:2rem;
   text-align: center;
   border-radius: .5rem;
   background-color: white;
}

.edit-product-form form img{
   height: 25rem;
   margin-bottom: 1rem;
}

.edit-product-form form .box{
   margin:1rem 0;
   padding:1.2rem 1.4rem;
   border:2px solid black;
   border-radius: .5rem;
   background-color: khaki;
   font-size: 1.8rem;
   color:black;
   width: 100%;
}


/* media queries  */

@media (max-width:991px){

   html{
      font-size: 55%;
   }

}

@media (max-width:768px){

   #menu-btn{
      display: inline-block;
   }
}

@media (max-width:450px){

   html{
      font-size: 50%;
   }

   .title{
      font-size: 3rem;
   }

}