::-webkit-scrollbar{
    display: none;
 }
 html{
     font-size: 92.5%;
     overflow-x: hidden;
  }
  .btn{
     margin-top: 30px;
     padding:10px;
     width: 40%;
     cursor: pointer;
     color:#fff;
     font-size: 18px;
     border-radius: 5px;
     text-transform: capitalize;
  }
  .btn:hover{
     background-color: #333;
  }
  .btn{
     background-color: blue;
  }
  .form-container{
     display: flex;
     align-items: center;
     justify-content: center;
     padding:20px;
     margin: 120px;
  }
  .form-container form{
     padding:10px;
     width: 40%;
     border-radius: 10px;
     background-color: #fff;
     text-align: center;
  }
  .form-container form h3{
     font-size: 30px;
     margin: 15px;
     text-transform: uppercase;
     color: rgb(14, 7, 7);
  }
  .form-container form .box{
     width: 85%;
     background-color: rgb(245, 242, 244);
     padding:10px;
     font-size: 18px;
     color:blue;
     border:2px solid blue;
     margin:8px;
     border-radius: 10px;
  }
  .form-container form p{
     padding-top: 10px;
     font-size: 20px;
     color:black;
  }
  .form-container form p a{
     color:rgb(238, 17, 91);
  }
  .form-container form p a:hover{
     text-decoration: underline;
     color:rgb(4, 0, 255);
  }
  body{
    background-image: url(book-bg.jpg);
    background-size: cover;
  }