::-webkit-scrollbar{
   display: none;
}
.heading{
    margin: 0px;
    padding: 20px;
    background: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.4)) , url(images/bgm.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    text-transform: capitalize;
    
}
.heading .shop-bg{
    padding: 18px;
    color: rgb(255, 255, 255);
    margin-top: 40px;
    font-size: 49px;
}
::selection{
    background-color: green;
    color: white;
}
.products .box-container{
    max-width: 1400px;
    margin:0 auto;
    display:grid;
    grid-template-columns: repeat(auto-fit, 350px);
    align-items: flex-start;
    gap:5.5rem;
    justify-content: center;
    background-color: rgb(199, 229, 255);
    padding: 70px;
    border-radius: 20px;
 }
 
 .products .box-container .box{
    border-radius: 15px;
    background-color: rgb(255, 218, 170);
    padding:20px;
    text-align: center;
    /* border:2px solid grey; */
    position: relative;
 }
 
 .products .box-container .box .image{
    height: 20rem;
 }
 
 .products .box-container .box .name{
    padding:1rem 0;
    font-size: 2rem;
    color:blue;
    text-transform: capitalize;
 }
 .products .box-container .box .name span{
    padding:0.8rem 0;
    font-size: 2rem;
    color:rgb(255, 8, 0);
 }
 
 .products .box-container .box .qty{
    width: 18%;
    padding:8px;
    border-radius: 15px;
    width: 210px;
   
    margin:1rem 0;
    font-size: 2rem;
    text-align: center;
 }
 
  .products .box-container .box .price{
    margin-top: 12px;
     left:80px;
    border-radius: 15px;
    padding:7px;
    font-size: 23px;
    color:rgb(255, 255, 255);
    background-color: rgb(247, 35, 7);
     margin-left: 15%;
     margin-right: 15%;
     
 }
 .products .box-container .box  .btn{
    background-color:green;
    color: white;
    width: 215px;
    padding: 10px;
    margin-top: 6.5%;
    border-radius: 15px;
 }
 .products .box-container .box .btn:hover{
    background-color: rgb(7, 7, 10);
    color: white;
 }



